html,
body {
    justify-content: center;
    background-color: #0E0020;
}

.container {
    align-items: center;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

.Logo {
    height: 80px;
}

.Title {
    font-family: 'Irish Grover';
    color: #CF0A0A;
}

.midDiv {
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    width: 80%;
    margin-bottom: 5%;
}

.midDiv img {
    width: 40%;
}

.midText {
    justify-content: left;
    width: 40%;
    display: block;
    color: white;
}

.midText h2 {
    text-align: left;
    font-size: 46px;
    /*font-weight: 800; !* extra-bold numerical value *!*/
}

.midText p {
    text-align: left;
    font-size: 26px;
}

.rowFlexLeft {
    width: 33%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.rowFlexLeft a {
    font-size: 20px;
    text-decoration: none;
}

.rowFlexRight {
    width: 33%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.rowFlexMid {
    width: 33%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rowFlexMid a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-right: 5%;
}

.secondPart {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.map {
    width: 40%;
    overflow: hidden;
    background-color: white;
    border-radius: 25%;
}

.account {
    height: 50px;
    width: 40px;
}

.Nav {
    padding-left: 3%;
    padding-right: 3%;
    width: 94%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(126, 126, 126, 0.2);
}

.bottomDiv {
    width: 100%;
}

.cards {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}