html,
body {
    vertical-align: middle;
    background-color: #0E0020;
}

.Logo {
    height: 80px;
}

.Title {
    font-family: 'Irish Grover';
    color: #CF0A0A;
}

.rowFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rowFlex a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-right: 3px;
}

.rowFlexMid {
    width: 33%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rowFlexMid a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-right: 5%;
}

.account {
    height: 50px;
    width: 40px;
}

.Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(126, 126, 126, 0.2);
}

/*.button:hover {*/
/*    color*/
/*}*/